<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<%= erb(:'partials/nav') %>
	<!-- our template content will be injected here -->
	<%= yield %>
</body>
</html>