h1 {
	font-size: 120px;
	outline-color: pink;
}

img {
	width: 5cm;
	height: 3cm;

}

h3.special{
	font-weight: bold;
	text-decoration: underline;
	font=size: 20px;
	color: blue;
}

a {
	color: red;
}

p {
	font size:10px;
}